streamlit==1.41.1
groq==1.0.0
python-dotenv==1.2.1
sentence-transformers==5.2.0
transformers==4.57.6
torch==2.9.1
torchvision==0.24.1
PyMuPDF==1.26.7
langchain-text-splitters==1.1.0
faiss-cpu==1.13.2
rank-bm25==0.2.2
pillow==11.3.0
numpy==2.2.1