# Python Version: 3.13.11
streamlit>=1.35.0
groq>=1.0.0
python-dotenv>=1.0.1
sentence-transformers>=2.5.1
transformers>=4.40.0
torch
torchvision
PyMuPDF>=1.24.0
langchain-text-splitters>=0.2.0
faiss-cpu
rank-bm25>=0.2.2
pillow>=10.0.0
numpy<2.0.0
opencv-python-headless
easyocr
pytesseract

# --- System Dependencies (Installed via packages.txt) ---
# libgl1-mesa-glx
# libglib2.0-0
# tesseract-ocr
# poppler-utils
